:root {
  --active-color: #2196f3;
  --white-color: #ffffff;
  --text-color: #757575;
  --main-font: "Roboto", sans-serif;
  --accent-font: "Raleway", sans-serif;
  --title-color: #212121;
  --button-background: #f5f4fa;
  --button-background-active: #2196f3;
}

* {
  margin: 0;
  padding: 0;
}

/* body styles */
body {
  background-color: var(--white-color);
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 15, 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:active {
  color: var(--active-color);
}
h2,
h3 {
  color: var(--title-color);
}
/* HEDER */
.copyrite {
  padding-top: 24px;
  padding-bottom: 25px;
  padding-right: 94px;
}
.logo {
  color: #2196f3;
}
.logo-item {
  color: #000000;
}
.logo-item-foot {
  color: var(--white-color);
}
.logo,
.logo-item,
.logo-item-foot {
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92em;
  letter-spacing: 0.03em;
}
.nav-list a:hover,
.nav-list a:focus,
.nav-list .current {
  color: var(--active-color);
}
.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43em;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-list-site {
  display: flex;
  padding-right: 331px;
}
.nav-link {
  color: var(--title-color);
}
.nav-link:not(:last-child) {
  margin-right: 50px;
}
.header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ececec;
  align-items: center;
}
.contacts-list {
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.contacts-item {
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.contacts-item .link {
  margin-right: 50px;
}
/* SECTION HERO */
.hero {
  background-color: #2f303a;
  /* width: 1170; */
  height: 600px;
  padding: 200 auto 280;
  display: flex;
  flex-direction: column;
}
.main-title {
  color: var(--white-color);
  font-size: 44px;
  line-height: 1.363em;
  letter-spacing: 0.06em;
  text-align: center;
}
.visual-hiden {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* Section container advantages */
.caption-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
/* Чем мы занимаемся */
.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
/* Наша команда */
.our-team {
  background-color: var(--button-background);
}
.team-list > li {
  font-size: 16px;
  line-height: 1.88em;
}
.name {
  font-weight: 500;
}

/* PORTFOLIO */
.our-products {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.advantages {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.what-we-do {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.products-list,
.title {
  font-size: 18px;
}
/* Button */
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--title-color);
  background-color: var(--button-background);
}
.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--button-background-active);
  cursor: pointer;
}
.link:hover:hover,
.link:focus:focus {
  color: var(--active-color);
}

/* Products list */
.products-list {
  font-size: 16px;
  line-height: 1.88em;
}
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
}
/* Footer */

.foot {
  background-color: #000000;
  color: var(--white-color);
}
.footer-list .text {
  font-style: normal;
}
.contacts .link {
  font-style: normal;
  color: #ffffff99;
  font-family: var(--main-font);
}
/* .contacts {
  font-style: normal;
  color: #ffffff99;
  font-family: var(--main-font);
} */
